@import '~normalize.css';

/*--------------------
  Body
  --------------------*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.container {
    width: 35em;
    height: 100vh;
    margin: 0 auto;
    background: linear-gradient(135deg, #044f48, #2a7561);
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 1.3;
    overflow: hidden;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
    }
}