<div class="wrapper">
  <header class="header">
    <h3>Chat App</h3>
  </header>
  <div class="container-fluid body-wrapper">
    <!-- <div class="card user-card">
      <div class="card-body">
        <div class="user-panel">
          <span>Current User:</span>
          <span>{{currentUser}}</span>
        </div>
        <div class="user-panel">
          <span>Chat User:</span>
          <span>{{chatUser}}</span>
        </div>
      </div>
    </div> -->

    <div class="user-list">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let data of userObj">
            <span *ngIf="data === currentUser">You</span>
            <span *ngIf="data !== currentUser">{{data}}</span>
        </li>
      </ul>
    </div>

    <div class="text-area">
      <textarea [(ngModel)]="message"></textarea>
      <button class="btn btn-primary" (click)="sendMessage()">Send</button>
      <button class="btn btn-primary" (click)="closeSession()">Close session</button>
    </div>


    <ul class="list-group">
      <li class="list-group-item" *ngFor="let data of receivedMsg">
        <span>User: 
          <span *ngIf="data.user === currentUser">You</span>
          <span *ngIf="data.user !== currentUser">{{data.user}}</span>
        </span>
        <br />
        <span>{{data.msg}}</span>
      </li>
    </ul>
    <div></div>
  </div>
</div>